#Builder {
	height: 100%;
}

.panel {
	margin-left: 5px;
	margin-right: 5px;
	max-width: 48%;
	float: left;
	border-radius: 10px;
}

.panel-item {
	margin: 5px;
	padding-left: 15px;
	padding-right: 15px;
	height: auto;
	border-radius: 5px;
}

.panel-add-item {
	margin: 5px;
}

.addfield {
	height: auto;
	width: 50%;
	border-radius: 5px;
}

.addbutton {
	height: auto;
	border-radius: 5px;
}

.team-role {
	background-color: #F0F0F0;
	border: 1px solid #E3E3E3;
	padding: 9px;
}

.inline {
	float: right;
	border-radius: 3px;
	padding: 2px;
	background-color: #808080;
}

.droppable {
    padding-bottom: 50px !important;
}

/*
#people {
	background-color: aqua;
}

.person {
	background-color: deeppink;
}

#skills {
	background-color: darkviolet;
}

.skill {
	background-color: limegreen;
}

#multi-skill-roles {
	background-color: navy;
}

.multi-skill-role {
	background-color: saddlebrown;
}

#team-archetypes {
	background-color: aqua;
}

.team-archetype {
	background-color: orangered;
}

#teams {
	background-color: firebrick;
}

.team {
	background-color: lightgreen;
}

#schedule {
	background-color: khaki;
}
*/
